[submodule "dwm"]
	path = dwm
	url = https://github.com/E-Almqvist/dwm
[submodule "dmenu"]
	path = dmenu
	url = https://github.com/E-Almqvist/dmenu
[submodule "st"]
	path = st
	url = https://github.com/E-Almqvist/st
